# Drizzle
# Replace with your DB credentials!
# DATABASE_URL="file:./sqlite.db"
DATABASE_URL="mysql://rkmvvmm1_tuser:Test_2026@127.0.0.1:3307/rkmvvmm1_test2025"
DB_PORT=3307


BETTER_AUTH_URL="http://localhost:5173"

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET="c4d96b38-aeca-48a5-abc3-c072a295815b"

# Email Configuration
SMTP_HOST="mail.rkmvvmmalda.org"
SMTP_PORT=465
SMTP_USER="darpan@rkmvvmmalda.org"
SMTP_PASS="Darpan@1944"
